* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'sans-serif';
    background-color: #424242;
    padding: 20px;
}

.section-form {
    display: flex;
}

.cheek_container {
    width: 167px;
    padding: 21px 29px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 58px;
}

.cheek_title {
    margin: 0;
    color: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}

.cheek_form {
    display: flex;
    flex-direction: column;
}

.cheek_form label:not(:last-child) {
    margin-bottom: 20px;
}

.cheek_form input {
    display: none;
}

.cheek_form label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #333333;
}

.cheek_form span {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999999;
    border-radius: 3px;
    text-align: center;
}

.cheek_form span::before {
    position: absolute;
    top: -30%;
    left: 30%;
    content: url(../cheek.svg);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

input:checked+span::before {
    opacity: 1;
}

input:checked+span {
    opacity: 1;
    border-color: #CCB26E;
}


/* Стили для селекта */

.choices {
    width: 176px;
    /* background-color: #FFFFFF; */
    border-radius: 10px;
    /* padding: 0; */
    /* max-height: 39px; */
    /* box-shadow: 1px 1px 1px black; */
}

.choices:focus .choices__inner {
    outline: 1px solid #CCB26E;
    border-radius: 10px;
}


/* 
.is-open .choices {
    border-radius: 10px;
    border-color: #CCB26E;
} */

.choices__inner {
    position: relative;
    min-height: auto;
    padding: 10px 15px;
    z-index: 10;
    font-size: 14px;
    border-radius: 10px;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    /* min-height: 0; */
}

.choices__placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    opacity: 1;
}

.is-active .choices__placeholder {
    display: none;
}

.is-open .choices__inner {
    border-radius: 10px;
    border: 1px solid #CCB26E;
}

.choices__list--single {
    padding: 0;
}


/* .choices[data-type*=select-one]::after {
    content: url(../arrow.svg);
    border: none;
    right: 30px;
    top: 35%;
}

.choices:focus .choices[data-type*=select-one]::after {
    content: url(../arrowFocus.svg);
} */

.choices__list--dropdown,
.choices__list[aria-expanded] {
    padding-top: 20px;
    padding-bottom: 7px;
    top: 20px;
    border-radius: 10px;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-radius: 10px;
    border: 1px solid #CCB26E;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    padding: 10px 15px 13px 15px;
}

.choices[data-type*="select-one"]::after {
    top: 20px;
    -webkit-mask-image: url("../arrow.svg");
    mask-image: url("../arrow.svg");
    border: none;
    width: 13px;
    height: 8px;
    z-index: 20;
    margin-top: 0;
    transform: translateY(-50%);
    background-color: #666666;
    background-repeat: no-repeat;
}

.choices[data-type*="select-one"].is-open::after {
    margin-top: 0;
    transform: translateY(-50%) rotate(180deg);
    background-color: #CCB26E;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
    padding-top: 7px;
    padding-bottom: 30px;
    bottom: 45%;
    border-radius: 10px;
}


/* Стили для карты */

[class*="ground-pane"] {
    filter: grayscale(1);
}

.section-card {
    margin-bottom: 40px;
}


/* Стили для скролла */

.section-scroll {
    margin-bottom: 100px;
}

.scroll-container {
    max-width: 399px;
    max-height: 310px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 29px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    /* or 24px */
    color: #333333;
}

.simplebar-content-wrapper {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
}

.simplebar-scrollbar:before {
    background: #CCB26E;
    border-radius: 5px;
    opacity: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}


/* Тултип */

.section-tooltip {
    margin-bottom: 100px;
}

.tooltip-container {
    position: relative;
    max-width: 375px;
    padding-top: 20px;
    padding-left: 29px;
    padding-right: 78px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    /* or 24px */
    color: #333333;
}

.popup {
    position: relative;
    top: -90px;
    left: 156px;
    max-width: 163px;
    padding: 7px 15px;
    background: #666666;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    opacity: 0;
    transition: opasity 0.3s ease-in-out;
}

.tooltip-marker {
    cursor: pointer;
}

.tooltip-marker:hover+.popup,
.tooltip-marker:focus+.popup {
    opacity: 1;
}

.tooltip-marker:hover,
.tooltip-marker:focus {
    outline: none;
}

.tooltip-marker:hover path,
.tooltip-marker:focus path {
    fill: #CCB26E;
}

.popup::after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 64px;
    border: 15px solid transparent;
    border-top: 15px solid #666666;
    ;
}


/* Валидность формы */

.form-container {
    max-width: 440px;
    background-color: #000000;
    border-radius: 10px;
    padding: 40px 30px 40px 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-wrap {
    position: relative;
}

.just-validate-error-label {
    position: absolute;
    top: -20px;
    left: 10px;
}

.form input {
    width: 380px;
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 24px;
    margin-bottom: 31px;
    border: 1px solid #FF5C00;
    border-radius: 10px;
    outline: none;
}

.form_btn {
    max-width: 192px;
    padding: 18px 53px;
    background-color: #FF5C00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}